<div class="w-full w-max-770 m-auto">
    <div class="radius shadow w-full p-l-30 fl m-v-20">
        <div class="fl-1">
            <h3 id="what-is-mongodb-atlas" class="clickable m-0 fnt-light dark-green p-v-20">What is MongoDB Atlas?</h3>
            <div style="overflow-y: hidden; max-height: 0px; transition: max-height 200ms ease;">
                <div class="m-0 dark-gray" style="margin-top: -15px; margin-bottom: 30px;">
                    <p>MongoDB Atlas is the global cloud database for modern applications. Distributed and secure by
                        default, Atlas is available as a fully managed service on AWS, Azure, and Google Cloud.</p>
                </div>
            </div>
        </div><button class="m-l-20 green fnt-24 p-h-20">
            <div style="transform: rotate(0deg); transition: transform 200ms ease;">+</div>
        </button>
    </div>
    <div class="radius shadow w-full p-l-30 fl m-v-20">
        <div class="fl-1">
            <h3 id="how-are-startups-chosen" class="clickable m-0 fnt-light dark-green p-v-20">How are startups chosen?
            </h3>
            <div style="overflow-y: hidden; max-height: 0px; transition: max-height 200ms ease;">
                <div class="m-0 dark-gray" style="margin-top: -15px; margin-bottom: 30px;">
                    <div>
                        <p>Startups are chosen based on our eligibility requirements: </p>
                        <ul class="bullets">
                            <li>Series A or earlier funding stage</li>
                            <li>Must be building a product or service (agencies are not eligible)</li>
                            <li>Has not previously participated in MongoDB for Startups (formerly known as “MongoDB
                                Startup Accelerator”)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><button class="m-l-20 green fnt-24 p-h-20">
            <div style="transform: rotate(0deg); transition: transform 200ms ease;">+</div>
        </button>
    </div>
    <div class="radius shadow w-full p-l-30 fl m-v-20">
        <div class="fl-1">
            <h3 id="when-will-i-hear-back-on-my-application-" class="clickable m-0 fnt-light dark-green p-v-20">When
                will I hear back on my application? </h3>
            <div style="overflow-y: hidden; max-height: 0px; transition: max-height 200ms ease;">
                <div class="m-0 dark-gray" style="margin-top: -15px; margin-bottom: 30px;">
                    <p>You will get a response within 1 week of your application.</p>
                </div>
            </div>
        </div><button class="m-l-20 green fnt-24 p-h-20">
            <div style="transform: rotate(0deg); transition: transform 200ms ease;">+</div>
        </button>
    </div>
    <div class="radius shadow w-full p-l-30 fl m-v-20">
        <div class="fl-1">
            <h3 id="how-much-usage-of-mongodb-atlas-will-the-program-cover-"
                class="clickable m-0 fnt-light dark-green p-v-20">How much usage of MongoDB Atlas will the program
                cover? </h3>
            <div style="overflow-y: hidden; max-height: 0px; transition: max-height 200ms ease;">
                <div class="m-0 dark-gray" style="margin-top: -15px; margin-bottom: 30px;">
                    <p>You will receive $3,000 in free MongoDB Atlas credits. You can estimate pricing using our <a
                            target="_target" href="https://www.mongodb.com/cloud/atlas/pricing">calculator</a>.</p>
                </div>
            </div>
        </div><button class="m-l-20 green fnt-24 p-h-20">
            <div style="transform: rotate(0deg); transition: transform 200ms ease;">+</div>
        </button>
    </div>
    <div class="radius shadow w-full p-l-30 fl m-v-20">
        <div class="fl-1">
            <h3 id="what-type-of-technical-support-is-included-in-the-mongodb-for-startups-program"
                class="clickable m-0 fnt-light dark-green p-v-20">What type of technical support is included in the
                MongoDB for Startups program?</h3>
            <div style="overflow-y: hidden; max-height: 0px; transition: max-height 200ms ease;">
                <div class="m-0 dark-gray" style="margin-top: -15px; margin-bottom: 30px;">
                    <ul class="bullets">
                        <li>
                            <p>We provide an additional $600 in credit to cover your use of the <a target="_target"
                                    href="https://www.mongodb.com/blog/post/mongodb-atlas-users-get-new-support-and-backup-options">Atlas
                                    Developer support plan</a> for end-to-end technical support. You’ll get support on
                                operational issues, plus advice on scaling, sharding, performance optimization, and
                                more.</p>
                        </li>
                        <li>
                            <p>You’ll also get access to MongoDB for Startups office hours where you can get advice on
                                your use case and ensure you’re getting the most out of your free credits.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div><button class="m-l-20 green fnt-24 p-h-20">
            <div style="transform: rotate(0deg); transition: transform 200ms ease;">+</div>
        </button>
    </div>
    <div class="radius shadow w-full p-l-30 fl m-v-20">
        <div class="fl-1">
            <h3 id="can-you-tell-me-more-about-exclusive-startup-credits-and-deals-from-partners"
                class="clickable m-0 fnt-light dark-green p-v-20">Can you tell me more about exclusive startup credits
                and deals from partners?</h3>
            <div style="overflow-y: hidden; max-height: 0px; transition: max-height 200ms ease;">
                <div class="m-0 dark-gray" style="margin-top: -15px; margin-bottom: 30px;">
                    <p>We’ve teamed up with partners to offer you a full suite of your favorite tools at
                        startup-friendly prices. You’ll get access to startup credits and deals from AWS, Google Cloud,
                        Segment, Twilio Sendgrid, Brex and more.</p>
                </div>
            </div>
        </div><button class="m-l-20 green fnt-24 p-h-20">
            <div style="transform: rotate(0deg); transition: transform 200ms ease;">+</div>
        </button>
    </div>
</div>