<footer style="background-color: #F5F6F7; color: #1A1A1A;" class="p-v-30 w-full">
    <div class="w-max-1200 w-full m-auto">
        <div class="fl fl-justify-between fl-wrap">
            <div class="w-185 full-if-lt-900 m-20 "><small><strong class="dark-green">Resources</strong></small>
                <ul>
                    <li class="m-v-10"><a href="/nosql-explained" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>NoSQL Database Explained</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/collateral/mongodb-architecture-guide"
                            class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>MongoDB Architecture Guide</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/products/mongodb-enterprise-advanced" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>MongoDB Enterprise Advanced</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/cloud/atlas" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>MongoDB Atlas</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/cloud/stitch" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>MongoDB Stitch</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//engineering.mongodb.com/" class="no-decor hover-underline"
                            target="_BLANK">
                            <div class="fl fl-center-y"><small>MongoDB Engineering Blog</small></div>
                        </a></li>
                </ul>
            </div>
            <div class="w-150 full-if-lt-900 m-20 "><small><strong class="dark-green">Education &amp;
                        Support</strong></small>
                <ul>
                    <li class="m-v-10"><a href="//university.mongodb.com/courses/catalog"
                            class="no-decor hover-underline" target="_BLANK">
                            <div class="fl fl-center-y"><small>View Course Catalog</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//university.mongodb.com/certification" class="no-decor hover-underline"
                            target="_BLANK">
                            <div class="fl fl-center-y"><small>Certification</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//docs.mongodb.com/manual/" class="no-decor hover-underline"
                            target="_BLANK">
                            <div class="fl fl-center-y"><small>MongoDB Manual</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//docs.mongodb.com/manual/installation/"
                            class="no-decor hover-underline" target="_BLANK">
                            <div class="fl fl-center-y"><small>Installation</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//support.mongodb.com/welcome" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Support</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/faq" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>FAQ</small></div>
                        </a></li>
                </ul>
            </div>
            <div class="w-300 full-if-lt-900 m-20 "><small><strong class="dark-green">Popular Topics</strong></small>
                <ul>
                    <li class="m-v-10"><a href="/cloud/atlas/migrate" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Migrate to MongoDB Atlas</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/blog/post/building-a-rest-api-with-mongodb-stitch"
                            class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Building a REST API with MongoDB Stitch</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/post/ingesting-and-visualizing-api-data-with-stitch-and-charts"
                            class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Ingesting and Visualizing API Data with Stitch and
                                    Charts</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/cloud/atlas/aws-mongodb" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Run MongoDB on AWS with MongoDB Atlas</small></div>
                        </a></li>
                </ul>
            </div>
            <div class="w-100 full-if-lt-900 m-20 "><small><strong class="dark-green">About</strong></small>
                <ul>
                    <li class="m-v-10"><a href="/company" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>MongoDB, Inc.</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/leadership" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Leadership</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/pressroom" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Press Room</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/careers" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Careers</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="https://investors.mongodb.com" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Investors</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/legal/legal-notices" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Legal Notices</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/security" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Security Information</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/cloud/trust" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Trust Center</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/office-locations" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Office Locations</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="/community-code-of-conduct" class="no-decor hover-underline">
                            <div class="fl fl-center-y"><small>Code of Conduct</small></div>
                        </a></li>
                </ul>
            </div>
            <div class="w-120 full-if-lt-900 m-20 "><small><strong class="dark-green">Follow Us</strong></small>
                <ul>
                    <li class="m-v-10"><a href="//facebook.com/mongodb" class="no-decor hover-underline"
                            target="_BLANK">
                            <div class="fl fl-center-y"><svg width="18" class="m-r-10" viewBox="0 0 32 32">
                                    <path fill="#424950"
                                        d="M29 0h-26c-2 0-3 1-3 3v26c0 2 1 3 3 3h13v-14h-4v-4h4v-2c0-3 3-6 6-6h4v4h-4c-1 0-2 1-2 2v2h6l-1 4h-5v14h9c2 0 3-1 3-3v-26c0-2-1-3-3-3z">
                                    </path>
                                </svg><small>Facebook</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//github.com/mongodb" class="no-decor hover-underline" target="_BLANK">
                            <div class="fl fl-center-y"><svg width="18" class="m-r-10" viewBox="0 0 32 32">
                                    <path fill="#424950"
                                        d="M16 0.4c-8.8 0-16 7.2-16 16 0 7.1 4.6 13.1 10.9 15.2 0.8 0.1 1.1-0.3 1.1-0.8 0-0.4 0-1.6 0-3-4.5 1-5.4-1.9-5.4-1.9-0.7-1.8-1.8-2.3-1.8-2.3-1.5-1 0.1-1 0.1-1 1.6 0.1 2.5 1.6 2.5 1.6 1.4 2.4 3.7 1.7 4.7 1.3 0.1-1 0.6-1.7 1-2.1-3.6-0.4-7.3-1.8-7.3-7.9 0-1.7 0.6-3.2 1.6-4.3-0.2-0.4-0.7-2 0.2-4.2 0 0 1.3-0.4 4.4 1.6 1.3-0.4 2.6-0.5 4-0.5 1.4 0 2.7 0.2 4 0.5 3.1-2.1 4.4-1.6 4.4-1.6 0.9 2.2 0.3 3.8 0.2 4.2 1 1.1 1.6 2.5 1.6 4.3 0 6.1-3.7 7.5-7.3 7.9 0.6 0.5 1.1 1.5 1.1 3 0 2.1 0 3.9 0 4.4 0 0.4 0.3 0.9 1.1 0.8 6.4-2.1 10.9-8.1 10.9-15.2 0-8.8-7.2-16-16-16z">
                                    </path>
                                </svg><small>Github</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//youtube.com/user/mongodb" class="no-decor hover-underline"
                            target="_BLANK">
                            <div class="fl fl-center-y"><svg width="18" class="m-r-10" viewBox="0 0 32 32">
                                    <path fill="#424950"
                                        d="M31.7 9.6c0 0-0.3-2.2-1.3-3.2-1.2-1.3-2.6-1.3-3.2-1.4-4.5-0.3-11.2-0.3-11.2-0.3h0c0 0-6.7 0-11.2 0.3-0.6 0.1-2 0.1-3.2 1.4-1 1-1.3 3.2-1.3 3.2s-0.3 2.6-0.3 5.2v2.4c0 2.6 0.3 5.2 0.3 5.2s0.3 2.2 1.3 3.2c1.2 1.3 2.8 1.2 3.5 1.4 2.6 0.2 10.9 0.3 10.9 0.3s6.7 0 11.2-0.3c0.6-0.1 2-0.1 3.2-1.4 1-1 1.3-3.2 1.3-3.2s0.3-2.6 0.3-5.2v-2.4c0-2.6-0.3-5.2-0.3-5.2zM12.7 20.2v-9l8.6 4.5-8.6 4.5z">
                                    </path>
                                </svg><small>Youtube</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//twitter.com/mongodb" class="no-decor hover-underline" target="_BLANK">
                            <div class="fl fl-center-y"><svg width="18" class="m-r-10" viewBox="0 0 32 32">
                                    <path fill="#424950"
                                        d="M32 7.1c-1.2 0.5-2.4 0.9-3.8 1 1.4-0.8 2.4-2.1 2.9-3.6-1.3 0.8-2.7 1.3-4.2 1.6-1.2-1.3-2.9-2.1-4.8-2.1-3.6 0-6.6 2.9-6.6 6.6 0 0.5 0.1 1 0.2 1.5-5.5-0.3-10.3-2.9-13.5-6.9-0.6 1-0.9 2.1-0.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-0.3-3-0.8 0 0 0 0.1 0 0.1 0 3.2 2.3 5.8 5.3 6.4-0.5 0.2-1.1 0.2-1.7 0.2-0.4 0-0.8 0-1.2-0.1 0.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-0.5 0-1 0-1.6-0.1 2.9 1.9 6.4 3 10.1 3 12.1 0 18.7-10 18.7-18.7 0-0.3 0-0.6 0-0.8 1.3-0.9 2.4-2.1 3.3-3.4z">
                                    </path>
                                </svg><small>Twitter</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//www.linkedin.com/company/mongodbinc/" class="no-decor hover-underline"
                            target="_BLANK">
                            <div class="fl fl-center-y"><svg width="18" class="m-r-10" viewBox="0 0 32 32">
                                    <path fill="#424950"
                                        d="M29 0h-26c-1.6 0-3 1.4-3 3v26c0 1.7 1.4 3 3 3h26c1.7 0 3-1.3 3-3v-26c0-1.6-1.3-3-3-3zM12 26h-4v-14h4v14zM10 10c-1.1 0-2-0.9-2-2s0.9-2 2-2c1.1 0 2 0.9 2 2s-0.9 2-2 2zM26 26h-4v-8c0-1.1-0.9-2-2-2s-2 0.9-2 2v8h-4v-14h4v2.5c0.8-1.1 2.1-2.5 3.5-2.5 2.5 0 4.5 2.2 4.5 5v9z">
                                    </path>
                                </svg><small>LinkedIn</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//slackpass.io/mongo-db" class="no-decor hover-underline"
                            target="_BLANK">
                            <div class="fl fl-center-y"><svg width="18" class="m-r-10" viewBox="0 0 24 24">
                                    <path fill="#424950"
                                        d="M23 8.7c-1.3-4.2-2.8-6.6-5.1-7.8-2.1-1.2-5-1.2-9.2 0.1-8.1 2.4-10.2 6.3-7.7 14.3 1.8 6 4.4 8.7 8.9 8.7 1.6 0 3.3-0.3 5.4-0.9 8-2.5 10.2-6.4 7.7-14.4zM14.7 21.1c-7 2.1-9.7 0.6-11.8-6.4-2.1-6.9-0.6-9.7 6.4-11.8 2-0.6 3.6-0.9 4.9-0.9 1.1 0 2.1 0.2 2.9 0.6 1.7 0.9 3 3 4.1 6.6 0 0 0 0 0 0 2 7 0.5 9.8-6.5 11.9z">
                                    </path>
                                    <path fill="#424950"
                                        d="M17.7 11.6l-1.9 0.7-1-2.8 1.9-0.7c0.5-0.2 0.8-0.7 0.6-1.3-0.2-0.5-0.7-0.8-1.3-0.6l-1.9 0.7-0.7-1.9c-0.2-0.5-0.7-0.8-1.3-0.6-0.5 0.2-0.8 0.7-0.6 1.3l0.7 1.9-2.8 1-0.6-2c-0.2-0.5-0.8-0.8-1.3-0.6-0.5 0.1-0.8 0.7-0.6 1.2l0.7 1.9-1.9 0.7c-0.5 0.2-0.8 0.7-0.6 1.3 0.1 0.4 0.5 0.7 0.9 0.7 0.1 0 0.2 0 0.3-0.1l1.9-0.7 1 2.8-1.9 0.7c-0.5 0.2-0.8 0.7-0.6 1.3 0.1 0.4 0.5 0.7 0.9 0.7 0.1 0 0.2 0 0.3-0.1l1.9-0.7 0.7 1.9c0.1 0.4 0.5 0.7 0.9 0.7 0.1 0 0.2 0 0.3-0.1 0.5-0.2 0.8-0.7 0.6-1.3l-0.7-1.9 2.8-1 0.7 1.9c0.1 0.4 0.5 0.7 0.9 0.7 0.1 0 0.2 0 0.3-0.1 0.5-0.2 0.8-0.7 0.6-1.3l-0.7-1.9 1.9-0.7c0.5-0.2 0.8-0.7 0.6-1.3 0.1-0.3-0.5-0.6-1-0.4zM11.1 13.9l-1-2.8 2.8-1 1 2.8-2.8 1z">
                                    </path>
                                </svg><small>Slack</small></div>
                        </a></li>
                    <li class="m-v-10"><a href="//stackoverflow.com/tags/mongodb/info" class="no-decor hover-underline"
                            target="_BLANK">
                            <div class="fl fl-center-y"><svg width="18" class="m-r-10" viewBox="0 0 32 32">
                                    <path fill="#424950"
                                        d="M32 20v12h-32v-12h4v8h24v-8zM6 22h20v4h-20zM6 18l1-4 20 4-1 4zM9 10l2-4 18 8-2 4zM31 11l-2 3-16-12 2-2h2z">
                                    </path>
                                </svg><small>StackOverflow</small></div>
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="m-auto" style="border-bottom: 1px solid #B3BBC1; width: calc(100% - 40px);"></div>
        <div class="m-h-20 m-v-30 fl fl-wrap fl-justify-between">
            <div>
                <div class="w-max-80">
                    <div class="relative h-50 m-b-40 user-select-none" style="height: 24px;"><button
                            class="reset clickable fl fl-center"><svg width="18" height="18" viewBox="0 0 512 512">
                                <path
                                    d="M304 0h-96c-115 0-208 93-208 208 0 74 39 139 98 176h-2v128l144-96h64c115 0 208-93 208-208s-93-208-208-208zM304 352h-64l-80 48v-57c-56-20-96-73-96-135 0-80 64-144 144-144h96c80 0 144 64 144 144s-64 144-144 144z"
                                    fill="#424950"></path>
                            </svg><small class="m-l-10"><strong>English</strong></small></button></div>
                </div><span class="hide-lt-910">
                    <div class="w-max-600 fl fl-center-y"><svg height="45" width="22" viewBox="0 0 13 26">
                            <path
                                d="M11.7 10.4C10.3 4.3 7.4 2.7 6.7 1.6 6.3 1.1 6.1 0.5 5.8 0 5.8 0.5 5.7 0.9 5.3 1.3 4.3 2.1 0.4 5.3 0 12.2-0.3 18.7 4.8 22.6 5.5 23 6 23.3 6.7 23 7 22.8 9.4 21.1 12.8 16.7 11.7 10.4"
                                fill="#10AA50"></path>
                            <path
                                d="M6 19.5C5.8 21.1 5.7 22 5.4 22.9 5.4 22.9 5.6 24.4 5.8 26L6.3 26C6.5 24.9 6.7 23.8 6.9 22.7 6.2 22.3 6 20.9 6 19.5Z"
                                fill="#B8C4C2"></path>
                            <path
                                d="M7 22.8L7 22.8C6.3 22.4 6.1 20.9 6.1 19.6 6.3 17.3 6.3 15 6.3 12.6 6.2 11.4 6.3 1.5 6 0 6.2 0.5 6.4 1 6.7 1.4 7.4 2.6 10.3 4.2 11.7 10.3 12.8 16.6 9.5 21.1 7 22.8Z"
                                fill="#12924F"></path>
                        </svg><small class="m-l-10">© 2020 MongoDB, Inc.<br>Mongo, MongoDB, and the MongoDB leaf logo
                            are registered trademarks of MongoDB, Inc.</small></div>
                </span>
            </div>
            <div class="relative full-if-lt-900"><small class="disp-block m-b-10"><strong>Get MongoDB Email
                        Updates</strong></small>
                <form autocomplete="on"><input required="" id="newsletter-email" aria-label="Email"
                        name="newsletter-email" autocomplete="email"
                        style="border: 1px solid #B3BBC1; padding: 16px 11px 15px 11px; outline: none;" type="email"
                        class="radius w-230 m-r-20" placeholder="Email Address"><input type="submit"
                        class="btn-square btn-green" value="→"></form>
            </div>
        </div>
        <div class="m-20 hide-gt-910">
            <div class="w-max-600 fl fl-center-y"><svg height="45" width="22" viewBox="0 0 13 26">
                    <path
                        d="M11.7 10.4C10.3 4.3 7.4 2.7 6.7 1.6 6.3 1.1 6.1 0.5 5.8 0 5.8 0.5 5.7 0.9 5.3 1.3 4.3 2.1 0.4 5.3 0 12.2-0.3 18.7 4.8 22.6 5.5 23 6 23.3 6.7 23 7 22.8 9.4 21.1 12.8 16.7 11.7 10.4"
                        fill="#10AA50"></path>
                    <path
                        d="M6 19.5C5.8 21.1 5.7 22 5.4 22.9 5.4 22.9 5.6 24.4 5.8 26L6.3 26C6.5 24.9 6.7 23.8 6.9 22.7 6.2 22.3 6 20.9 6 19.5Z"
                        fill="#B8C4C2"></path>
                    <path
                        d="M7 22.8L7 22.8C6.3 22.4 6.1 20.9 6.1 19.6 6.3 17.3 6.3 15 6.3 12.6 6.2 11.4 6.3 1.5 6 0 6.2 0.5 6.4 1 6.7 1.4 7.4 2.6 10.3 4.2 11.7 10.3 12.8 16.6 9.5 21.1 7 22.8Z"
                        fill="#12924F"></path>
                </svg><small class="m-l-10">© 2020 MongoDB, Inc.<br>Mongo, MongoDB, and the MongoDB leaf logo are
                    registered trademarks of MongoDB, Inc.</small></div>
        </div>
    </div>
</footer>