    <div class="container text-center">
        <img src="/images/githubsdp-plus-mongodb.png" class="img-fluid p-3">
        <p><a class="btn btn-black btn-sm" href="https://education.github.com/pack" role="button"><i class="fa fa-github fa-3x">&nbsp;</i><span class="m-0 p-v-10 txt-left fnt-dinot w-max-720 fnt-24"> Learn more &raquo;</span></a></p>
    </div>
