<div class="jumbotron">
    <div class="container text-center">
        <img src="/images/githubsdp-plus-mongodb.png" class="img-fluid">
        <h4 class="text-center">Welcome</h4>
        {{!-- <p><a class="btn btn-primary btn-lg" href="https://education.github.com/pack" role="button">Learn more &raquo;</a></p> --}}
    </div>
</div>