{{>jumbotron}}
<section class="p-25">
    <h2 class="m-v-0 m-auto p-t-10 p-b-10 txt-center dark-green fnt-36 w-max-700 fnt-light"><span>MongoDB Student Pack Admin</span></h2>
    <div class="fl-center">
      <h5 class="m-0 p-v-10 txt-left fnt-light w-max-720 fnt-24 dark-gray"><span>Use this section to maintain the student pack system</span></h5>
    </div>
  </section>
    
    <div class="row">
        <h4>Credit Code Maintenance</h4>
        <hr>
        <div class="form-group form-group-lg align-items-center">
            <h5>Import Credits</h5>
            <hr>
            <button name="submit" type="submit" href="/upload"
                class="btn btn-primary">Upload Credits</button>
        </div>
        
    </div>
    <div class="row">
        <h4>Student Mainteance</h4>
        <hr>
        <div class="form-group form-group-lg align-items-center">
            <button name="submit" type="submit" href="/students"
                class="btn btn-primary">Maintain Students</button>
        </div>
        
    </div>
</div>