<div class="container">
    <div class="jumbotron text-center">
        <img src=/images/githubsdp-plus-mongodb.png> </div> <div class="container">

    </div>
    {{#if flashMessages }}
        <div class="col-sm-12 col-md-12">
          {{#if flashMessages.success }}
            <div id="success" class="alert alert-success">
              {{flashMessages.success}}
            </div>
          {{else if flashMessages.error }}
            <div id="error" class="alert alert-warning">
              {{flashMessages.error}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    <div class="row">
        <h4>Upload Codes</h4>
        <hr>
    </div>
    <div class="row">
    {{# if user.admin }}
            <div class="form-group form-group-lg align-items-center">
                <p>Use the form below to upload a list of authors.
                    Click <a href="/template">here</a> for an example template.</p>
                <form class="form" action="/upload" method="POST" encType="multipart/form-data">
                <span class="btn btn-default btn-file">
                    <input class="form-control" type="file" name="file" accept="*.csv" /><br /><br />
                </span>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Upload">
                    
                </form>
            </div>
    {{else}}
            <div class="form-group form-group-lg align-items-center">
                <p>You must have administrative privileges to access this function.</p>
            </div>  
    {{/if}}
    </div>

</div>